/* Base container for the app */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}


/* Sidebar (Drawer) */
/* .CustomDrawer {
  flex: 0 0 250px; 
  background-color: #f4f4f4;
  transition: width 0.3s ease;
} */

/* Adjust width for tablets */
@media (max-width: 768px) {
  .CustomDrawer {
    flex: 0 0 200px; 
  }
}

/* Collapsed width for small screens */
@media (max-width: 480px) {
  .CustomDrawer {
    flex: 0 0 60px; 
  }
}

/* Main Content Area */
.content {
  flex: 1; 
  overflow-y: auto;
}
