.container {
    display: flex;
    flex: 1;
    background-color: white;
    height: 100vh; 
    overflow: auto;
  }
  
  .scroll-view {
    padding: 20px;
    margin: auto; 
    max-width: 600px; 
    line-height: 1.6; 
  }
  