.module-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  min-height: 100vh;
  overflow: auto;
  background-color: white;
}

.video-container {
  position: relative;
  width: 100%; /* Ensure the video container spans the full width */
  height: 0;
  padding-top: 56.25%; /* Aspect ratio 16:9 (height = 56.25% of width) */
  margin-bottom: 20px; /* Optional: Adds space below the video */
}

.video-frame {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  top: 0;
  left: 0;
  width: 80%; /* Ensure iframe takes up full width */
  height: 80%; /* Ensure iframe takes up full height */
  border: none;
}





  